[submodule "libcoro"]
	path = libcoro
	url = ../libcoro
[submodule "libev"]
	path = libev
	url = ../libev
[submodule "win32/pthreads-win32"]
	path = win32/pthreads-win32
	url = ../pthreads-win32
[submodule "LuaJIT"]
	path = LuaJIT
	url = http://luajit.org/git/luajit-2.0.git
[submodule "libtomcrypt"]
	path = libtomcrypt
	url = https://github.com/libtom/libtomcrypt.git
[submodule "libtommath"]
	path = libtommath
	url = https://github.com/libtom/libtommath.git
[submodule "win32/c-ares"]
	path = win32/c-ares
	url = https://github.com/bagder/c-ares.git
[submodule "win32/curl"]
	path = win32/curl
	url = https://github.com/bagder/curl.git
