[submodule "libcoro"]
	path = libcoro
	url = git.grumpycoder.net:/pub/repo.git/libcoro
[submodule "libeio"]
	path = libeio
	url = git.grumpycoder.net:/pub/repo.git/libeio
[submodule "libev"]
	path = libev
	url = git.grumpycoder.net:/pub/repo.git/libev
